<h1>Log in</h1>

<form action="/login" method="POST">
  <label>Username</label>
  <input type="text" name="username" placeholder="Enter your username"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button type="submit" >Log In</button>
</form>

{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}